@{
    ViewData["Title"] = "Welcome to Personal Finance App";
}

<h1>Welcome to Personal Finance App</h1>
<p>Use this app to manage your accounts, transactions, and projects!</p>

<ul>
    <li><a href="/Account/Index">Manage Accounts</a></li>
    <li><a href="/Transaction/Index">View Transactions</a></li>
    <li><a href="/Project/Index">Manage Projects</a></li>
    <li><a href="/Report/Index">Generate Reports</a></li>
    <li><a href="/User/Login">Login</a></li> 
    <li><a href="/User/Register">Register</a></li> 
</ul>
